.overlay {
  position: fixed;
  width: 100%;
}

html,
body,
canvas {
  height: 100%;
  margin: 0;
}

button {
  cursor: pointer;
  font-size: 20pt;
  position: absolute;
  right: 0;
  background: hotpink;
  color: white;
  font-family: monospace;
}
